{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %} {{ language.info.compiler }} {% endblock %}

{% block extrahead %}
	<link rel="stylesheet" href="{% static 'plugin/codemirror-5.38.0/lib/codemirror.css' %}">
	<link rel="stylesheet" href="{% static 'plugin/codemirror-5.38.0/theme/mdn-like.css' %}">
	<link rel="stylesheet" href="{% static 'plugin/codemirror-5.38.0/addon/hint/show-hint.css' %}">
	<link rel="stylesheet" href="{% static 'plugin/codemirror-5.38.0/addon/display/fullscreen.css' %}">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col s12 m12">
				<!-- <h3 class="truncate white-text"></h3> -->
				{% if code.name %}
					<div class="card-panel">
						<b>{{code.name}}</b> <br>
						{{code.description}}
					</div>
				{% else %}
					<big><p class="white-text">{{language.compiler.info}}</p></big>
				{% endif %}
                <div class="card">
					<form method="post" action="{% url 'page:redirect' language.min_name 'compile' %}">
						{% csrf_token %}
	                    <div class="card-content no-padding">{% include 'base/modules/codemirror.html' %}</div>
	                    <div class="card-action grey lighten-3 btn-panel-compiler" style="overflow: hidden;">
	                        <!-- <a href="#" class="btn waves-effect waves-light blue" id="save_pc" disabled>
	                            <i class="fas fa-laptop fa-lg"></i>&nbsp;&nbsp; {{language.compiler.save_pc}}
	                        </a>
	                        <a href="#" class="btn waves-effect waves-light blue darken-3" id="save_db" disabled>
	                            {{language.compiler.save_db}}&nbsp;&nbsp; <i class="fas fa-cloud-upload-alt fa-lg"></i>
	                        </a> -->
						
							<big>Número de compilaciones <b>
								{% if code.compilations != None%}{{code.compilations}}{% else %}{{compilations}}{% endif %}
							</b></big>
							<input type="number" class="hide" name="compilations" value="{% if code.compilations  != None%}{{code.compilations}}{% else %}{{compilations}}{% endif %}">
	                        <div class="right">
	                            <button type="submit" class="btn waves-effect waves-light green">
	                                <i class="fas fa-terminal fa-lg"></i> {{language.compiler.run}}
	                            </button>
	                        </div>
	                    </div>
					</form>
                </div>
			</div>
            <div class="col s12 m7">
                <div class="card-panel z-depth-3 no-padding card-log">
					<center>{{language.compiler.compilation_log}}</center>
                    <div class="compilation_log">
						{% for result in lexer_results %}
							{{result}} <br>
						{% endfor %}
						{% if lexer_results %}
							<hr>
						{% endif %}
						{% for result in plylex_results %}
							{{result}} <br>
						{% endfor %}
                    </div>
                </div>
            </div>
			<div class="col s12 m5">
                <div class="card-panel z-depth-3 no-padding card-log">
					<center>{{language.compiler.execution_result}}</center>
                    <div class="compilation_log">
						{% for result in parser_results %}
							{{result}} <br>
						{% endfor %}
                    </div>
                </div>
            </div>
		</div>
	</div>


	<div class="fixed-action-btn toolbar">
		<a class="btn-floating btn-large pulse teal accent-4 z-depth-3" id="btn-fixed">
			<i class="fas fa-bars fa-lg"></i>
		</a>
		<ul>
			<li>
				{% if code.id%}
					<a class="btn waves-effect waves-light light-blue darken-4" href="{% url 'user:downloadCode' code.id %}" download="{{code.name}} - POICOFU.txt">
				{% else %}
					<a class="btn waves-effect waves-light light-blue darken-4" href="#" id="save_pc">
				{% endif %}
				 <i class="fas fa-download fa-2x"></i>&nbsp;&nbsp; {{language.compiler.save_pc}}
			</a></li>
		    <li><a class="btn waves-effect waves-light light-blue darken-1 modal-trigger" href="#modalCodeForm" id="save_db">
				{{language.compiler.save_db}}&nbsp;&nbsp; <i class="fas fa-cloud-upload-alt fa-2x"></i>
			</a></li>
		    <!-- <li><a class="btn-floating btn-large indigo tooltipped" data-position="left" data-tooltip="Pantalla Completa" data-delay="50" >
				<i class="fas fa-expand fa-lg"></i>
			</a></li>
		    <li><a class="btn-floating btn-large cyan accent-4 tooltipped" data-position="left" data-tooltip="{{language.compiler.go}}" data-delay="50" >
				<i class="fas fa-search fa-lg"></i>
			</a></li> -->
		 </ul>
	  </div>

	  <div class="tap-target teal accent-3" data-activates="btn-fixed">
		<div class="tap-target-content" style="line-height:1.3;">
			<h5>{{language.community.greeting}}  {{user}}</h5>
			Aqui tienes algunas utilidades <br>
			Recuerda tener el cursor en el editor
			<div class="add-padding">
				<b>Ctrl + f:</b> {{language.compiler.go}} <br>
				<b>Alt + g:</b> Ir a la linea <br>
				<b>F11:</b> Pantalla completa <br>

			</div>
		</div>
	 </div>

	  {% include 'base/modules/modalCodeForm.html' %}

	  <form action="{% url 'user:downloadCode2' %}" method="post" id="downloadCode2" class="hide">
	  		{% csrf_token %}
			<textarea name="code" id="codeDownload" class=""></textarea>
	  </form>

{% endblock %}


{% block extrajs %}
	<script type="text/javascript" src="{% static 'plugin/codemirror-5.38.0/lib/codemirror.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugin/codemirror-5.38.0/mode/javascript/javascript.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugin/codemirror-5.38.0/addon/hint/show-hint.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugin/codemirror-5.38.0/addon/hint/javascript-hint.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugin/codemirror-5.38.0/addon/search/search.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugin/codemirror-5.38.0/addon/search/searchcursor.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugin/codemirror-5.38.0/addon/search/jump-to-line.js' %}"></script>

	<script type="text/javascript" src="{% static 'plugin/codemirror-5.38.0/addon/display/fullscreen.js' %}"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			 $('.modal').modal();

            $('select[name=idioms]').change(function(){
                url = "{% url 'page:home' %}"+$(this).val()+"/compiler";
                console.log(url);
                location.href = url;
            });

			var code = $(".codemirror-textarea")[0];
			var editor = CodeMirror.fromTextArea(code, {
				lineNumbers : true,
				mode : "javascript",
				theme : "mdn-like",
				indentUnit: 4,
				extraKeys : {
					"Ctrl-Space":"autocomplete",
			        "F11": function(cm) {
			          cm.setOption("fullScreen", !cm.getOption("fullScreen"));
			        },
			        "Esc": function(cm) {
			          if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
			        }
				}
			});

			$('#save_pc').click(function(){
				var codigoEditor = editor.getValue();
				$('#codeDownload').val(codigoEditor);
				$('#downloadCode2').submit();
			});

			$('#save_db').click(function(){
				var codigoEditor = editor.getValue();
				$('#codeForm').val(codigoEditor);
			});

			$('.tap-target').tapTarget('open');

			// $('#btn-fixed').hover(function(){
			// 	$('.fixed-action-btn.toolbar').openToolbar();
			// });

            $('body').addClass('teal');

		});
	</script>
{% endblock %}
