{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %} {{ language.info.home }} {% endblock %}

{% block extrahead %}
    <style type="text/css">
        body {
            background-image: url("{% static 'images/hypnotize.png' %}");
        }
    </style>
    <script type="text/javascript" src="{% static 'plugin/charts/loader.js' %}"></script>

    {% include 'base/sections/charts.html' %}
{% endblock %}

{% block content %}

 	{% include 'base/sections/slider.html' %}

    <div class="container">
        <br>
        <!-- <h4>La pagina se mostrara en {{ language.name }}</h4> -->
        <div class="row">
        	<div class="center">
        		<h4>{{ language.info.greeting }} {{ language.info.name }}</h4>
        	</div>
        	<p class="flow-text">
				{{ language.info.description }}
        	</p>
        </div>
        <div class="row">
        	<div class="center">
        		<h4>{{ language.info.charts }}</h4>
        	</div>
        	<!-- <h5>{{ language.info.chart1_title }}</h5> -->
            <div class="container" style="overflow:hidden;">
                    <div id="chart1" style="width: 800px; height: 500px;"></div>
            </div>
            <div class="dashed-divider"></div>
        	<!-- <h5>{{ language.info.chart2_title }}</h5> -->
            <div class="container" style="overflow:hidden;">
                    <div id="chart2" style="width: 800px; height: 500px;"></div>
            </div>
        </div>

    </div>
{% endblock %}

{% block extrajs %}
	<script type="text/javascript">
		$(document).ready(function(){

			$('.slider').slider({
				// indicators: false,
                height: 550
			});

            $('select[name=idioms]').change(function(){
                url = "{% url 'page:home' %}"+$(this).val();
                console.log(url);
                location.href = url;
            });

		});
	</script>

{% endblock %}
