{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %} {{language.info.profile}} {% endblock %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="card-panel" style="overflow:hidden;">
                <div class="col offset-s3 s6 m3 ">
                    <br>
                    <img src="{% static 'images/usericon.png' %}" class="circle responsive-img z-depth-2" alt="usericon">
                </div>
                <div class="col s12 offset-m1 m7">
                    <div class="row">
                        <h4 class="greeting">{{user.fname}} ({{user.username}})</h4>
                        <h5>{{user.email}}</h5>
                        <br>
                        <div>
                            <span class="profile-text">{{language.profile.n_codes}}: <b>{{user.code_set.count}}</b></span>
                            <div class="right">
                                <a href="{% url 'page:redirect' language.min_name 'mycodes' %}" class="btn waves-effect waves-light btn-rounded">
                                    <i class="fas fa-code"></i> {{language.info.my_codes}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="dashed-divider"></div>

                        <div class="row profile-text">
                            <h5>
                                <b>{{language.profile.personal_data}}</b>
                                <div class="right">
                                    <a href="{% url 'user:editData' language.min_name %}" class="btn waves-effect waves-light btn-rounded">
                                        <i class="fas fa-user-edit fa-lg"></i> {{language.profile.edit}}
                                    </a>
                                </div>
                            </h5>
                            <div class="add-padding">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td><b>{{language.profile.age}}:</b></td>
                                            <td>{{user.age}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>{{language.profile.city}}:</b></td>
                                            <td>{{user.city}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>{{language.profile.country}}:</b></td>
                                            <td>{{user.city.country}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>{{language.profile.language_preference}}:</b></td>
                                            <td>{{user.language.name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="dashed-divider"></div>

                        <div class="row profile-text">
                            <h5><b>{{language.profile.account_options}}</b></h5>
                            <div class="add-padding">
                                {{language.profile.change_password}}
                                <h6>
                                    <div class="right">
                                        <a href="{% url 'user:changePassword' %}" class="btn waves-effect waves-light btn-rounded blue">
                                            <i class="fas fa-user-shield fa-lg"></i> {{language.profile.change}}
                                        </a>

                                    </div>
                                </h6>
                                {% endif %}

                                <h6>
                                    {{language.profile.delete_account}}
                                    <div class="right">
                                        <a href="{% url 'user:delete' user.id %}" class="btn waves-effect waves-light btn-rounded red">
                                            <i class="fas fa-user-slash fa-lg"></i> {{language.profile.delete}}
                                        </a>
                                    </div>
                                </h6>

                            </div>
                        </div>

                    </div>

            </div>
        </div>
    </div>


{% endblock %}

{% block extrajs %}
	<script type="text/javascript">
		$(document).ready(function(){
            $('body').addClass('teal');
             $('.modal').modal();
             $('#modalChangePassword').modal('open');

            $('select[name=idioms]').change(function(){
                url = "{% url 'page:home' %}"+$(this).val()+"/profile";
                console.log(url);
                location.href = url;
            });

            $('#submitUdatePassword').click(function(){
                if ($('#password1').val() == $('#password2').val()){
                    if ($('#password1').val().length >= 8 ){
                        $('#updatePassword').submit();
                    }else{
                        alert("La contraseña debe tener mas de 8 caracteres");
                    }
                }else{
                    alert('Las contraseñas deben ser iguales');
                }
            });

		});
	</script>
{% endblock %}
