{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %} test {% endblock %}

{% block header %} {% endblock %}

{% block content %}
	<form method="post">
		{% csrf_token %}
		{{ form }}
		<button type="submit">Save changes</button>
	</form>
{% endblock %}


{% block extrajs %}

	<script type="text/javascript">
		$(document).ready(function(){

            $('select[name=idioms]').change(function(){
                url = "{% url 'page:home' %}"+$(this).val()+"/compiler";
                console.log(url);
                location.href = url;
            });

            // $('body').addClass('teal');

		});
	</script>
{% endblock %}
