{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} Title {% endblock %} - CompiladorWeb</title>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/icon.ico' %}" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">

	<link rel="stylesheet" href="{% static 'css/material-icons.css' %}">

	<link rel="stylesheet" href="{% static 'css/footer.css' %}">

	<script type="text/javascript" src="{% static 'js/fontawesome-all.js' %}"></script>


	{% block extrahead %}
	{% endblock %}

	<link rel="stylesheet" href="{% static 'css/myStyles.css' %}">

</head>
<body style="background: rgb(241, 241, 241) !important;">

	{% block header %}
		{% include 'base/sections/header.html' %}
	{% endblock %}

	<main>
		{% block content %}
			<h4>I'm content</h4>
		{% endblock %}
	</main>

	{% block footer %}
		{% include 'base/sections/footer.html' %}
	{% endblock %}

	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/myScript.js' %}"></script>

	<script type="text/javascript">
		$(document).ready(function(){
		});
	</script>

	{% block extrajs %}
	{% endblock %}
</body>
</html>
