body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

@media screen and (min-width: 800px){
	nav .nav-wrapper .container {
		width: 85%;
	}
}

/*======================== Page Home ==========================*/
img.flag {
	width: 30px;
	margin-top: 17px;
	margin-left: 3px;
	float: right;
}
.idioms {
	margin-top: 10px;
	width: 160px;
}
.idioms input.select-dropdown{
	border-bottom: 0;
}
.idioms > span.caret {
	/*color: white;*/
	display: none;
}

/*========================  LOGIN ==========================*/
a.btn-block {
	border-radius: 5px;
	margin-bottom: 10px;
	min-width: 100%;
}
a.btn-google {
	background-color: red;
}
a.btn-google:hover {
	color: red;
	background-color: white;
}
a.btn-github {
	background-color: #212121;
}
a.btn-github:hover {
	color: #212121;
	background-color: white;
}
a.btn-facebook {
	background-color: #01579b;
}
a.btn-facebook:hover {
	color: #01579b;
	background-color: white;
}