<footer class="page-footer">
	<div class="container">
		<div class="row center-align">
			<div class="col s8 m4">
				<a href="https://github.com/JanioJimenez" class="white-text">
					<i class="fab fa-github fa-2x"></i> <big>Janio Jimenez</big>
				</a>
			</div>
			<div class="col s10 m4">
				<a href="https://github.com/jvoaramo" class="white-text">
					<i class="fab fa-github fa-2x"></i> <big>Vicente Paramo</big>
				</a>
			</div>
			<div class="col s10 m4">
				<a href="https://github.com/habnacos" class="white-text">
					<i class="fab fa-github fa-2x"></i> <big>Habib Navarro</big>
				</a>
			</div>
		</div>
	</div>
	<div class="footer-copyright white-text">
		<div class="container">
			All Rights Reserved © 2018 
			<a class="grey-text text-lighten-4 right" href="http://materializecss.com/">Power By MaterializeCss</a>
		</div>
	</div>
	
</footer>