{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %} Change Password {% endblock %}

{% block header %} {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 offset-m2 m8">
                {% include 'base/modules/brand.html' %}
                <div class="card-panel">
                    <center><big>Cambio de contraseña</big></center>
                    <form method="post">
                        {% csrf_token %}
                        {{ form }}
                        <center>
                            <button type="submit" class="btn waves-effect waves-light">Cambiar Contraseña</button>
                        </center>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block extrajs %}

	<script type="text/javascript">
		$(document).ready(function(){

            // $('select[name=idioms]').change(function(){
            //     url = "{% url 'page:home' %}"+$(this).val()+"/compiler";
            //     console.log(url);
            //     location.href = url;
            // });

            $('body').addClass('teal');

		});
	</script>
{% endblock %}
